/* Imports the following fonts: Passion One, Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Passion+One:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-white;
    text-rendering: optimizeLegibility;
  }
  .drop-sh {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  }
}